/* positionement du titre generale de la page */
#kl-info-title{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
}

/* modification de la taille des form field angular materiel*/
:host ::ng-deep .mat-form-field-infix {
  height: 10px;
  font-size: 15px;
}

/* section info gerale sur la mission*/
#kl-info-Mission{
  padding-bottom: 20px;

}

#kl-info-Mission>form,section>h4,.mat-h2,
.kl-info-prod-dep,.kl-select-prd-dp{
  padding-left:5%;
}

/* couleur arriere plan des boutons de soumission */
#kl-submit-btn{
  background-color: ghostwhite;
  display: flex;
  justify-content:flex-end;
  padding: 20px;
}

#kl-submit-btn> button{
  margin-right: 20px;
  padding-left: 40px;
  padding-right: 40px;
  transition: border 180ms;

}

/* section dds motif missions */

.kl-motif-mission{
  margin-top:20px ;
  margin-bottom: 20px;
}
