    <!--Bar de navigation global  -->

      <!--
        lorque le bouton d'impression est declanché aucun autre contenu
        ne doit s 'afficher
       -->
  <mat-toolbar color="primary" layout="fill" >
    <mat-card style="background-color: blue;">
      <mat-card-content>
       <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
          Wend Panga
       </div>
    </mat-card-content>
  </mat-card>
  </mat-toolbar>

  <mat-spinner *ngIf="isWait" ></mat-spinner>


    <!-- Sous bar de navigation vertical -->
  <div *ngIf="!isImprimer">
      <div class='kl-side-bar'>
      <mat-selection-list  #missions [multiple]="false">
        <mat-list-option (click)="gotoMenuItem(mission.urls)"
         *ngFor="let mission of menuMission ; " [value]="mission.nom">
          {{mission.nom}}
        </mat-list-option>
        <mat-hint></mat-hint>
      </mat-selection-list>
    </div>
  </div>

  <!-- contenu de l'ecran-->
<div id="kl-contenu" *ngIf="!isImprimer" >
    <!-- div pour creer separer l'ecran -->
    <div class="naim-side"></div>

    <div class ="kl-main-content">
      <ng-container class="kl-main-content" *ngIf="isAcceuilMission">
        <!-- Section de filtrage  -->
        <app-liste-mission *ngIf="false"></app-liste-mission>
        <ng-container >

        <div class="missionsList-actions" >
         <!-- Input de filtrage des mission -->
          <section>
            <mat-form-field class="example-full-width">
              <mat-label>filtre</mat-label>
              <input type="text"
                     aria-label="filtre"
                     matInput
                   >
            </mat-form-field>
          </section>

            <!-- Section choix de l'etat des mission à afficher  -->
          <section>
            <mat-button-toggle-group (change)="listerMissionParStatus(choiceStatus.value)"
                 #choiceStatus="matButtonToggleGroup" appearance="legacy">
              <mat-button-toggle [value]="true">En cours</mat-button-toggle>
              <mat-button-toggle color="primary" [value]="false">Terminer</mat-button-toggle>
            </mat-button-toggle-group>

            <!-- pagination: par defaut 10 mission son envoyés par un get dans la bd -->
            <span  *ngIf="listeMission.length>0">
              <mat-icon (click)="getMissionListPagination(false)">first_page</mat-icon>
              <mat-icon (click)="getMissionListPagination(true)">last_page</mat-icon>
            </span>
          </section>

          <mat-divider></mat-divider>
        </div>

          <!-- Listage des missions -->
        <div class="missions-data">
          <div *ngIf="listeMission.length==0" id="aucuneMission">
              <div style="align-items:center">
                Aucune Mission
              </div>
          </div>

          <mat-selection-list #selectedMultiMission
           (selectionChange)="onSelectionMissionChange(selectedMultiMission.selectedOptions.selected)">
            <mat-list-option  color="primary" [value]="mission"
            *ngFor="let mission of listeMission" >

            {{mission.chauffeur.nom}} {{mission.chauffeur.prenom}}

          </mat-list-option>
          </mat-selection-list>
        </div>
        <mat-divider></mat-divider>

        <div class="missionsList-actions">
          <section>
            <!-- selectedOptions.selected :
               tableau contenant la liste des missions selectionnes
            -->
              Selections: {{selectedMultiMission.selectedOptions.selected.length}}
          </section>

          <section>
            <!-- Liste des actions -->
            <!-- desactiver les boutons si le nombre de selection est superieur a 1 ou == 0 -->
            <button mat-raised-button (click)="gotoMenuItem('imprimer')" [disabled]="
                selectedMultiMission.selectedOptions.selected.length>1 ||
                selectedMultiMission.selectedOptions.selected.length==0
                " style="margin-right:5px; background-color: lightblue;">
               Imprimer ordre de mission
            </button>

            <!-- Bouton detail -->
            <button mat-raised-button  [disabled]="
                selectedMultiMission.selectedOptions.selected.length>1 ||
                selectedMultiMission.selectedOptions.selected.length==0
                " style="margin-right:5px; background-color: lightblue;" (click)="openDetailMission()">
             Detail
            </button>

            <!--
              Bouton: imprimer + aller au detail
               Desactive les boutons si le nbre de selection == 0
            -->
            <button mat-raised-button style="margin-right:5px"
            (click)="openDialog(delai_animation_apparution,
                       delai_animation_disparition,
                      'Etes-Vous sûr de vouloir modifier etat de ces missions ?')">
               Modifier l'etat
              </button>

            <button mat-raised-button
             style="margin-right:5px"  (click)="openDialog(delai_animation_apparution, delai_animation_disparition,
                'Etes-Vous sûr de vouloir suppprimer ces missions ?')"
                  color="warn" >
              Supprimer
             </button>

          </section>
        </div>
        </ng-container>
      </ng-container>

     <!-- Component detail de mission -->
      <div class="kl-main-content" *ngIf="isdetail">
        <ng-container >
          <app-detail-mission [exercice_id]="exercice_id"
          [Mission]="missionSelectedDetail">
          </app-detail-mission>
        </ng-container>
      </div>

     <!-- Component programmation mission nouvelle mission -->
      <div class="kl-main-content" *ngIf="isProgrammerMission">
        <ng-container>
          <app-programmer></app-programmer>
        </ng-container>
      </div>

     <!-- Component Bilan -->
      <div  class="kl-main-content" *ngIf="isBilan">
        <app-bilan-missions></app-bilan-missions>
      </div>
    </div>

</div>

  <!-- Ordre de mission component+ bouton de retour à l'acceuil -->
<div class="kl-impression" *ngIf="isImprimer ">
  <app-ordre-mission (isRetourToMission)="isImprimer" [mission]="missionSelected[0]" >
  </app-ordre-mission>
</div>

<div *ngIf="isImprimer" (click)="gotoMenuItem('acceuil')" style="position:fixed; top: 48px;  margin-top: 10px;">
  <!-- bouton de retour à l'acceuil -->
  <button mat-fab style="width:40px; height: 40px; background-color: lightblue;" >
    <mat-icon><mat-icon>arrow_back </mat-icon></mat-icon>
  </button>
</div>

