<div class="main">
    <div class="entete">
        <mat-toolbar color="primary">

            <span>WendLa Soaba Transport</span>

            <span class="example-spacer"></span>

        </mat-toolbar>
    </div>

    <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened>
            <strong>Menu</strong>
            <mat-nav-list>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <a href="home">
                        <span><mat-icon matListIcon>home</mat-icon>Accueil</span> </a>

                </mat-list-item>
                <mat-list-item>
                    <a href="programmation">
                        <span><mat-icon matListIcon>local_shipping</mat-icon>
                            Nouvelle Mission
                        </span>
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a href="mission/liste-mission">
                        <span><mat-icon matListIcon>credit_card</mat-icon>Missions</span>
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a href="mission/recette">
                        <span><mat-icon matListIcon>paid</mat-icon>Recettes</span>
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a href="accueil">
                        <span><mat-icon matListIcon>logout</mat-icon>Se deconnecter</span>
                    </a>
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>

            <router-outlet></router-outlet>

        </mat-drawer-content>
    </mat-drawer-container>

</div>