<div class="content">
    <div class="title">
        <h2 mat-title>Vos informations Personnelles</h2>
    </div>
    <div class="main">
        <mat-form-field appearance="fill">
            <mat-label>Nom de l'utilisateur</mat-label>
            <input matInput formControlName="motif" type="text">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Prenom</mat-label>
            <input matInput formControlName="motif" type="text">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="motif" type="email">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Telephone</mat-label>
            <input matInput formControlName="motif" type="text">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="motif" type="text">
        </mat-form-field>

    </div>
</div>