<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <span class="logo">Wendla Soaba Transport</span>

    <span class="spacer"></span>

    <!-- <button mat-raised-button color="warn" >Notifications</button> -->

    <button mat-icon-button class="example-icon" (click)="openDialog()" aria-label="Example icon-button with share icon">
        <mat-icon [matBadge]="nombreNotification" matBadgeColor="warn">notifications</mat-icon>
      </button>



</mat-toolbar>