a {
    text-decoration: none;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

a:hover,
a:active {
    color: lightgray;
    background-color: rgb(40, 98, 214);
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar {
    border-radius: 3px;
    position: fixed;
    margin-bottom: 55px;
    background-color: #184a73;
    overflow: hidden;
    z-index: 1;
}

@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}