<div class="content">
    <div class="listeExercice">
        <ngx-charts-bar-vertical-stacked [view]="[750,300]" [results]="exercice" [xAxisLabel]="'Graphique des rentabilite par exercice'" [legendTitle]="'Types'" [yAxisLabel]="'Montants'" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true"
            [yAxis]="true" [gradient]="true" [showGridLines]="true" [showDataLabel]="true">
        </ngx-charts-bar-vertical-stacked>
    </div>

</div>

<div class="button">
    <button mat-stroked-button (click)="export()" color="primary">Exporter</button>
    <button mat-stroked-button click()="print()" color="warn">Imprimer</button>
</div>