<div class="main">
    <div class="entete">
        <mat-toolbar color="primary">

            <span>WendLa Soaba Transport</span>

            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>logout</mat-icon>
          </button>

        </mat-toolbar>
    </div>

    <mat-sidenav-container class="example-container">
        <mat-sidenav opened>
            Menu
            <mat-nav-list>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <a href="home">
                        <span><mat-icon matListIcon>home</mat-icon>Accueil</span> </a>

                </mat-list-item>
                <mat-list-item>
                    <a href="programmation">
                        <span><mat-icon matListIcon>folder</mat-icon>Maintenance</span> </a>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>

        </mat-sidenav-content>
    </mat-sidenav-container>

</div>