.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    max-width: 350px;
}

.example-container {
    width: 100%;
    height: 400px;
}

mat-drawer-container {
    position: absolute;
    top: 65px;
}

.main {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 95%;
}

mat-drawer {
    height: 100%;
    width: 220px;
}

mat-drawer-content {
    display: flex;
    flex-direction: column;
    background-color: white !important;
}

mat-drawer-content .button-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    position: absolute;
    left: 600px;
}

.button-div button {
    margin-right: 50px;
    margin-bottom: 65px;
    padding: 5px;
    width: 225px;
    font-size: 18px;
    font-style: normal;
    text-align: center;
}

table {
    width: 100%;
    margin-top: 50px;
}

.table {
    height: 90%;
}

mat-drawer,
mat-drawer-content {
    padding: 16px;
}


/* Mise en forme du menu */

mat-list-item:hover {
    background-color: white !important;
}

.demo-table {
    width: 100%;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}