<div class="main">
    <div class="entete">
        <mat-toolbar color="primary">

            <span>WendLa Soaba Transport</span>


        </mat-toolbar>
    </div>

    <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened>
            Menu
            <mat-nav-list>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <a href="liste-exercices">
                        <span><mat-icon matListIcon>home</mat-icon>Accueil</span>
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a href="maintenance">
                        <span><mat-icon matListIcon>build</mat-icon>Maintenance</span> </a>
                </mat-list-item>

                <mat-list-item>
                    <a href="accueil">
                        <span><mat-icon matListIcon>logout</mat-icon>Se deconnecter</span>
                    </a>
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Number</mat-label>
                    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>

            <div class="button-div">
                <button id="firstButton" mat-raised-button type="submit" *ngIf="this.selection.selected.length<=0" (click)="openDialogue()">Ajouter une depense</button>
                <button id="firstButton" mat-raised-button type="submit" color="warn" *ngIf="this.selection.selected.length>0" (click)="deleteMaintenance()">Supprimer</button>
            </div>
            <div class="table" *ngIf="dataSource">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{dataSource.filteredData.indexOf(element)+1}} </td>
                    </ng-container>

                    <!-- Date maintenance Column -->

                    <ng-container matColumnDef="date_creation">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.date_creation | date:'yyyy/mm/dd'}} </td>
                    </ng-container>

                    <!-- Motif Column -->
                    <ng-container matColumnDef="motif">
                        <th mat-header-cell *matHeaderCellDef> Motif </th>
                        <td mat-cell *matCellDef="let element"> {{element.motif}} </td>
                    </ng-container>


                    <!-- Montant Column -->
                    <ng-container matColumnDef="montant">
                        <th mat-header-cell *matHeaderCellDef> Montant </th>
                        <td mat-cell *matCellDef="let element"> {{element.montant}} </td>
                    </ng-container>

                    <!-- References Column -->
                    <ng-container matColumnDef="reference">
                        <th mat-header-cell *matHeaderCellDef> References </th>
                        <td mat-cell *matCellDef="let element"> pas de references </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="clickedRow(row)" [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                    </tr>

                </table>
                <mat-paginator #paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of periodic elements">
                </mat-paginator>



            </div>
        </mat-drawer-content>
    </mat-drawer-container>

</div>