<h1 mat-dialog-title>Enregistrement d'une maintenance</h1>
<div mat-dialog-content>
    <div class="col">

        <mat-vertical-stepper [linear]="true" #stepper>
            <!-- Première etape -->

            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Informations sur la maintenance</ng-template>
                    <div class="row" style="margin-top:15px;">
                        <div class="col">
                            <mat-form-field appearance="fill">
                                <mat-label>Date</mat-label>
                                <input matInput formControlName="dateEntree" [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Vehicule</mat-label>
                                <mat-select formControlName="vehicule">
                                    <mat-option *ngFor="let data of listeVehicule;let i=index" [value]="data.id">{{data.immat}}</mat-option>
                                </mat-select>
                            </mat-form-field>


                            <mat-form-field appearance="fill">
                                <mat-label>Motif</mat-label>
                                <textarea matInput formControlName="motif" type="text"></textarea>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Main d'oeuvre</mat-label>
                                <input matInput formControlName="coutMaint" type="number">
                            </mat-form-field>


                        </div>
                        <!--  <div class="col">

                            <mat-form-field appearance="fill">
                                <mat-label>References</mat-label>
                                <input matInput formControlName="reference" type="number">
                            </mat-form-field>
                        </div> -->
                    </div>
                </form>
                <div mat-dialog-actions [align]="'end'">
                    <button mat-raised-button color="warn" [disabled]="maintenanceAdded ==0" (click)="deleteMaintenance()">Annuler</button>
                    <button mat-raised-button (click)="saveMaintenance()" [disabled]="!isValid">Ajouter</button>
                    <button mat-raised-button color="primary" [disabled]="maintenanceAdded ==0" matStepperNext>Next</button>

                </div>
            </mat-step>

            <!-- Deuxième etape -->

            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Informations sur les pièces</ng-template>
                    <div class="row">
                        <div class="col">
                            <!-- La pièce  -->
                            <mat-form-field appearance="fill">
                                <mat-label>Piece</mat-label>
                                <input matInput formControlName="piece" type="text">
                            </mat-form-field>
                            <!-- La quantite  -->
                            <mat-form-field appearance="fill">
                                <mat-label>Quantite</mat-label>
                                <input matInput formControlName="quantite" type="number">
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Prix</mat-label>
                                <input matInput formControlName="prix" type="number">
                            </mat-form-field>


                        </div>
                    </div>
                </form>
                <div mat-dialog-actions [align]="'end'">
                    <button mat-raised-button [disabled]="pieceAdded ==0" (click)="deletePiece()" color="warn" matStepperPrevious>Annuler</button>
                    <button mat-raised-button [disabled]="!isValidSecondForm" (click)="savePiece()">Ajouter</button>
                    <button mat-raised-button [disabled]="pieceAdded ==0" matStepperNext color="primary">Next</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <div mat-dialog-actions [align]="'end'">

                    <button mat-raised-button (click)="endSaving()" color="primary">Tout enregistrer</button>
                </div>
            </mat-step>



        </mat-vertical-stepper>
    </div>

</div>