<app-layout>
    <mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation">
            <app-exercice (sidenavClose)="sidenav.close()"></app-exercice>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
            <main>
                <div class="chargement" *ngIf="!driverAvailable || !statTypeAvailable || !statExercice">
                    <mat-spinner mode="indeterminate" color="primary">Chargement</mat-spinner>
                </div>
                <div *ngIf="driverAvailable && statTypeAvailable && statExercice" class="content-full">
                    <div class="exercice">

                        <div>

                            <div class="content">

                                <div class="table" id="dataExerciceToPrint">
                                    <div class="title">
                                        <h2 mat-title>Statistiques gloable de l'annee {{ exercice.annee }}</h2>
                                    </div>
                                    <table mat-table [dataSource]="listeExercice" class="mat-elevation-z8">

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="annee">
                                            <th mat-header-cell *matHeaderCellDef> Annee </th>
                                            <td mat-cell *matCellDef="let element"> {{element.annee}} </td>
                                        </ng-container>

                                        <!-- Depense Column -->
                                        <ng-container matColumnDef="totalDepenses">
                                            <th mat-header-cell *matHeaderCellDef> Depense </th>
                                            <td mat-cell *matCellDef="let element"> {{element.totalDepenses}} </td>
                                        </ng-container>

                                        <!-- Recette Column -->
                                        <ng-container matColumnDef="totalRecette">
                                            <th mat-header-cell *matHeaderCellDef> Recette </th>
                                            <td mat-cell *matCellDef="let element"> {{element.totalRecette}} </td>
                                        </ng-container>

                                        <!-- Rentabilite Column -->
                                        <ng-container matColumnDef="rentabilite">
                                            <th mat-header-cell *matHeaderCellDef> Rentabilite </th>
                                            <td mat-cell *matCellDef="let element"> {{element.totalRecette - element.totalDepenses}} </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedExerciceColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedExerciceColumns;"></tr>
                                    </table>

                                </div>

                                <div *ngIf="showExerciceGraphique" class="visualisation">

                                    <ngx-charts-pie-chart [view]="[570,300]" [results]="exerciceData" [xAxisLabel]="'Visualisation de l\'\ exercice 2022 '" [legendTitle]="'Types'" [yAxisLabel]="'Montants'" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true"
                                        [gradient]="true" [showGridLines]="true" [showDataLabel]="true">
                                    </ngx-charts-pie-chart>

                                </div>

                            </div>
                        </div>


                        <div class="button">
                            <button mat-stroked-button (click)="showGraphiqueExercice()" *ngIf="!showExerciceGraphique" color="warn">Afficher Graphique</button>
                            <button mat-stroked-button (click)="hideGraphiqueExercice()" *ngIf="showExerciceGraphique" color="warn">Cacher Graphique</button>
                            <button mat-stroked-button [useExistingCss]="true" ngxPrint printSectionId="dataExerciceToPrint" printTitle="Graphique des revenus d'un exercice" color="primary">Imprimer</button>
                        </div>
                    </div>

                    <div class="principale">

                        <div>

                            <div class="content">

                                <div class="table" id="dataChauffeurToPrint">
                                    <div class="title">
                                        <h2 mat-title>Statistiques des chauffeurs dans l'exercice {{ exercice.annee }}</h2>
                                    </div>
                                    <table mat-table [dataSource]="listeChauffeur" class="mat-elevation-z8">


                                        <!-- Immatriculation Column -->
                                        <ng-container matColumnDef="immat">
                                            <th mat-header-cell *matHeaderCellDef> Immatriculation </th>
                                            <td mat-cell *matCellDef="let element"> {{element.immat}} </td>
                                        </ng-container>

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="chauffeur">
                                            <th mat-header-cell *matHeaderCellDef> Chauffeur </th>
                                            <td mat-cell *matCellDef="let element"> {{element.chauffeur.nom}} {{element.chauffeur.prenom}} </td>
                                        </ng-container>

                                        <!-- Depense Column -->
                                        <ng-container matColumnDef="total_depenses">
                                            <th mat-header-cell *matHeaderCellDef> Depense </th>
                                            <td mat-cell *matCellDef="let element"> {{element.total_depenses}} </td>
                                        </ng-container>

                                        <!-- Recette Column -->
                                        <ng-container matColumnDef="total_recette">
                                            <th mat-header-cell *matHeaderCellDef> Recette </th>
                                            <td mat-cell *matCellDef="let element"> {{element.total_recette}} </td>
                                        </ng-container>

                                        <!-- Rentabilite Column -->
                                        <ng-container matColumnDef="rentabilite">
                                            <th mat-header-cell *matHeaderCellDef> Rentabilite </th>
                                            <td mat-cell *matCellDef="let element"> {{element.total_recette - element.total_depenses}} </td>
                                        </ng-container>



                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsChauffeur"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsChauffeur;"></tr>
                                    </table>


                                </div>

                                <div class="visualisation" *ngIf="chauffeurStatData.length && showDriverGraphique">

                                    <!-- <ngx-charts-pie-chart [view]="[570,300]" [results]="chauffeurStatData" [xAxisLabel]="'Visualisation de l\'\ exercice 2022 '" [legendTitle]="'Types'" [yAxisLabel]="'Montants'" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true"
                                        [yAxis]="true" [gradient]="true" [showGridLines]="true" [showDataLabel]="true">
                                    </ngx-charts-pie-chart> -->

                                    <ngx-charts-bar-vertical-stacked [view]="[570,300]" [results]="chauffeurStatData" [xAxisLabel]="'Visualisation de l\'\ exercice 2022 '" [legendTitle]="'Types'" [yAxisLabel]="'Montants'" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true"
                                        [yAxis]="true" [gradient]="true" [showGridLines]="true" [showDataLabel]="true">
                                    </ngx-charts-bar-vertical-stacked>

                                </div>




                            </div>
                        </div>


                        <div class="button">
                            <button mat-stroked-button (click)="showGraphiqueDriver()" *ngIf="!showDriverGraphique" color="warn">Afficher Graphique</button>
                            <button mat-stroked-button (click)="hideGraphiqueDriver()" *ngIf="showDriverGraphique" color="warn">Cacher Graphique</button>
                            <button mat-stroked-button ngxPrint [useExistingCss]="true" printSectionId="dataChauffeurToPrint" printTitle="Graphique des revenus d'un exercice" color="primary">Imprimer</button>
                        </div>
                    </div>

                    <!-- Sur les types de depenses -->
                    <div class="typeMission">

                        <div>

                            <div class="content">

                                <div id="typeMission" class="table">
                                    <div class="title">
                                        <h2 mat-title>Statistiques sur les types de depenses des missions</h2>
                                    </div>
                                    <table mat-table [dataSource]="typeDepense" class="mat-elevation-z8">


                                        <!-- Position Column 
                                        <ng-container matColumnDef="id">
                                            <th mat-header-cell *matHeaderCellDef> No. </th>
                                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                        </ng-container>-->

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="intitule">
                                            <th mat-header-cell *matHeaderCellDef> Type Depense </th>
                                            <td mat-cell *matCellDef="let element"> {{element.intitule}} </td>
                                        </ng-container>

                                        <!-- Depense Column -->
                                        <ng-container matColumnDef="montant">
                                            <th mat-header-cell *matHeaderCellDef> Valeur </th>
                                            <td mat-cell *matCellDef="let element"> {{element.montant}} </td>
                                        </ng-container>

                                        <!-- Depense Column -->
                                        <ng-container matColumnDef="pourcentage">
                                            <th mat-header-cell *matHeaderCellDef> Pourcentage </th>
                                            <td mat-cell *matCellDef="let element"> {{(element.montant/getTotal())*100 | number}} % </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayed1Columns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayed1Columns;"></tr>
                                    </table>


                                </div>

                                <div class="visualisation" *ngIf="typeDepenseStat.length && showType">

                                    <ngx-charts-bar-vertical [view]="[400,500]" [results]="typeDepenseStat" [xAxisLabel]="'Visualisation de l\'\ exercice 2022 '" [legendTitle]="'Types'" [yAxisLabel]="'Montants'" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true"
                                        [yAxis]="true" [gradient]="true" [showGridLines]="true" [showDataLabel]="true">
                                    </ngx-charts-bar-vertical>

                                </div>
                            </div>
                        </div>



                        <div class="button">
                            <button mat-stroked-button (click)="showTypeGraphique()" *ngIf="!showType" color="warn">Afficher Graphique</button>
                            <button mat-stroked-button (click)="hideTypeGraphique()" *ngIf="showType" color="warn">Cacher Graphique</button>
                            <button mat-stroked-button [useExistingCss]="true" ngxPrint printSectionId="typeMission" printTitle="Graphique des revenus d'un exercice" color="primary">Imprimer</button>
                        </div>
                    </div>

                </div>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</app-layout>