<div id="kl-auth-dv" class="content">
    <mat-card>

        <mat-card-header>
            <mat-card-title>
                Connexion
            </mat-card-title>
        </mat-card-header>
        <form [formGroup]="userLoginForm" (ngSubmit)="onLoginAction(userLoginForm.value)">

            <mat-card-content>
                <mat-form-field appearance="legacy">
                    <input type="text" matInput placeholder="Utilisateur" id="nom" name="nom" formControlName="username">
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <input type="password" matInput placeholder="mot de passe" id="password" name="password" formControlName="password">
                </mat-form-field>

                <mat-hint *ngIf="invalid_Hint" style="color:red;"> donnee invalid </mat-hint>
            </mat-card-content>

            <mat-card-actions>

                <button type="submit" style="width: 100%;" mat-raised-button color="primary">
          Se connecter
        </button>
            </mat-card-actions>
        </form>

    </mat-card>

</div>