/* center l'element exatement au centre de la page */


/* #kl-auth-dv {
    background-color: rgba(0, 0, 0, 0.562) !important;
} */

#kl-auth-dv>mat-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: white; */
}


/* input a 100% */

mat-form-field {
    width: 100%;
}


/* mat-card-header est : display:flex -->centrer son contenu */

mat-card-header {
    justify-content: center;
    align-items: center;
}


/* changer la taille du titre login */

mat-card-title {
    font-size: 30px !important;
}

mat-card-actions>button {
    font-size: 18px !important;
}