<h1 mat-dialog-title>Programmation d'une mission</h1>
<div mat-dialog-content>
    <div class="col">
        <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Chauffeur</mat-label>
            <mat-select>
                <mat-option value="KALMOGO Lucien">KALMOGO Lucien</mat-option>
                <mat-option value="OUEDRAOGO Ousmane">OUEDRAOGO Ousmane</mat-option>
                <mat-option value="OUEDRAOGO Salam">OUEDRAOGO Salam</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col">
        <mat-form-field appearance="fill">
            <mat-label>Vehicule</mat-label>
            <mat-select>
                <mat-option value="HJJK526">HJJK526</mat-option>
                <mat-option value="DFGDG895">DFGDG895</mat-option>
                <mat-option value="DJHSDJH325">DJHSDJH325</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Motif Mission </mat-label>
            <mat-select>
                <mat-option value="Livraison">Livraison</mat-option>
                <mat-option value="Approvisonnement">Approvisonnement</mat-option>
                <mat-option value="Autre">Autre</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">Enregistrer</button>
    <button mat-raised-button color="warn" type="reset">Annuler</button>
</div>